{% extends 'base.html.twig' %}

{% block title %}Modifier l'Artiste{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto mt-16 p-8 bg-gray-900 rounded-lg shadow-md text-white">
        <h1 class="text-3xl font-bold mb-6">Modifier l'Artiste</h1>

        {{ include('artist/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_artist_index') }}" class="text-blue-400 hover:underline">Retour à la liste</a>
    </div>
{% endblock %}
