<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}MySpotify{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
</head>
<body class="bg-black text-white min-h-screen flex flex-col">

{% include 'parts/navbar.html.twig' %}

<main class="flex-grow container mx-auto px-4 py-8">
    {% block body %}{% endblock %}
</main>

{% include 'parts/footer.html.twig' %}

{{ encore_entry_script_tags('app') }}

</body>
</html>
